.search-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search-container input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;

  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(6px);
  color: #5e6163;
}

.search-container input::placeholder {
  color: #9b9fa2;
}

/* Suggestions dropdown */

.suggestions {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  list-style: none;

  background: rgba(255, 255, 255, 0.9);
  color: black;

  max-height: 200px;
  overflow-y: auto;
}

.suggestions li {
  padding: 10px 15px;
  cursor: pointer;
}

.suggestions li:hover {
  background: rgba(0, 0, 0, 0.05);
}
