@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;

  /* Gradient background */
  background: linear-gradient(180deg, #4facfe, #00f2fe);
  background-repeat: no-repeat;
  background-attachment: fixed; /* keeps gradient fixed on scroll */
  color: white;
}
